<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QB Stats</title>
    <link rel="stylesheet" href="../foundation/css/foundation.css" />
    <script src="../foundation/js/vendor/modernizr.js"></script>
  </head>
  
  <style>

/* SVG styling */


</style>

  <body>
    
    <div class="row">
      <div class="large-12 columns">
        
        
        <h2>Top 5 QBs in 2015 Draft</h2>
        
        <p>This is a comparison of the relative ranking of the top 5 drafted Quarterbacks in 2015 on key athletic metrics measured in the combine. 
        The scores are their relative rankings.
        </p>
       
        <canvas id="myChart" width="400" height="400"></canvas>

        
        
        
      </div>
    </div>
    
 </body>
  
<script src="Chart.js"></script>

<script>
    var radarChartData = {
    labels: ["40yd dash", "vert jump", "broad jump", "3 cone drill", "20yd shuttle"],
    datasets: [
        {
            label: "Jameis Winston",
            fillColor: "rgba(127,201,127,0.2)",
            strokeColor: "rgba(127,201,127,1)",
            pointColor: "rgba(127,201,127,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [5.0, 1.0, 1.0, 5.0, 5.0]
        },
        {
            label: "Marcus Mariota",
            fillColor: "rgba(190,174,212,0.2)",
            strokeColor: "rgba(190,174,212,1)",
            pointColor: "rgba(190,174,212,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [1.0, 4.5, 4.0, 1.0, 2.0]
        },
          {
            label: "Bryce Petty",
            fillColor: "rgba(255,255,153,0.2)",
            strokeColor: "rgba(255,255,153,1)",
            pointColor: "rgba(255,255,153,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [4.0, 2.5, 4.0, 2.0, 3.0]
        },
        {
            label: "Garret Grayson",
            fillColor: "rgba(253,192,134,0.2)",
            strokeColor: "rgba(253,192,134,1)",
            pointColor: "rgba(253,192,134,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [3.0, 2.5, 4.0, 4.0, 4.0]
        },
        {
            label: "Brett Hundley",
            fillColor: "rgba(56,108,176,0.2)",
            strokeColor: "rgba(56,108,176,1)",
            pointColor: "rgba(56,108,176,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [2.0, 4.5, 2.0, 3.0, 1.0]
            }
        ]
    };
    
 

// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Radar(radarChartData, {
            responsive: true,
            maintainAspectRatio: true,
            multiTooltipTemplate: " <%= datasetLabel %> - <%= value %>"

        });
    
</script>
    
    
    
    
    <script src="../foundation/js/vendor/jquery.js"></script>
    <script src="../foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      

      
      
    </script>
  </body>
</html>
